*.pyc
*.so
*.egg-info
*.whl
/dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
.idea
.vscode
.envrc
*.safetensors
*.pt

**/*.safetensors
**/*.pt

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/
